LAB1/My_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "n8n",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "acac3c20-89ae-410d-8051-ae94ebce48e8",
      "name": "Webhook",
      "webhookId": "786d00e8-232f-43f5-b3d5-a1698579e975"
    },
    {
      "parameters": {
        "jsCode": "const name = $input.first().json.body?.name || \"Guest\";\nreturn {\n  json: {\n    message: `Hello, ${name}! Welcome to n8n`\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "bf1257f7-fadf-4f1f-9a4d-bfbdefa43e2b",
      "name": "Code"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        440,
        0
      ],
      "id": "027ebc7b-f403-41da-bf44-b1e05ace21b2",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a5ee3358-c601-43d3-972a-eee594203ef5",
  "meta": {
    "instanceId": "fc369422d3c8f1a367a2fb4a0f7990ac03546109dec2e8ff4b8f2fdb145637e2"
  },
  "id": "SmRbozVhIcs7p8ti",
  "tags": []
}