Lab2/Lab2.json
{
  "name": "Lab2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "18a2f1dc-b7b2-4c80-a8e2-04bda7acf6ff",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3f2426f8-441f-4cea-a263-6062715d4b7c",
              "name": "name",
              "value": "Allce",
              "type": "string"
            },
            {
              "id": "f496d8db-bc05-4f1b-a141-ce7f9fc5b1f9",
              "name": "age",
              "value": 12,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ],
      "id": "840dcbbc-4c0c-4bf3-8cf9-7d8737218c51",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "create",
        "projectId": "n8n-project-68-4cc4c",
        "collection": "users",
        "columns": "name,age"
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        440,
        0
      ],
      "id": "6a14da05-eee5-45b3-9741-2d102c803d5e",
      "name": "Google Cloud Firestore",
      "credentials": {
        "googleFirebaseCloudFirestoreOAuth2Api": {
          "id": "S1ZLf32j4QesmAN5",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "502ae8ff-e2bb-4048-a61e-ad7a5c273fd5",
              "name": "_id",
              "value": "={{ $json._id }}",
              "type": "string"
            },
            {
              "id": "885ba66f-06ef-4d0b-ba1e-63237fda8aa7",
              "name": "name",
              "value": "wave",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        660,
        0
      ],
      "id": "4003c2bd-1c96-4d37-b620-1194af77bb2e",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "upsert",
        "projectId": "n8n-project-68-4cc4c",
        "collection": "users",
        "updateKey": "_id",
        "columns": "name"
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        880,
        0
      ],
      "id": "1eeceb70-42ed-4abf-a9ab-97423001f8b3",
      "name": "Google Cloud Firestore1",
      "credentials": {
        "googleFirebaseCloudFirestoreOAuth2Api": {
          "id": "S1ZLf32j4QesmAN5",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Google Cloud Firestore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Cloud Firestore": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Google Cloud Firestore1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Cloud Firestore1": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "af1a84b0-e8fb-4cc4-b4c4-8b43ff350f39",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2d732dbc38cf7921ff0fc622522c0abdbb197ed0a07ff8e0455831663b6d9b8f"
  },
  "id": "wprIaJaucNosqu9A",
  "tags": []
}