Lab2/Lab2_2.json
{
  "name": "Lab2-2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "users",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "a1a01da9-f08c-47ff-9821-7279d3b5f5e1",
      "name": "Webhook",
      "webhookId": "8d4d6eba-1b7f-449d-b94e-c8df33fe3ae0"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "333d2d2d-c934-4c1a-8adb-5957a4aa5394",
              "name": "name",
              "value": "={{$json.body.name}}",
              "type": "string"
            },
            {
              "id": "bae5e7cd-d8a0-4be6-aaeb-09d869204439",
              "name": "age",
              "value": "={{$json.body.age}}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        0
      ],
      "id": "3eee4e6f-1623-4fc7-8c00-1166bd4d8863",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "create",
        "projectId": "n8n-project-68-4cc4c",
        "collection": "users",
        "columns": "name"
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        400,
        0
      ],
      "id": "03a1d8ee-61eb-4f70-a980-7623adae7d63",
      "name": "Google Cloud Firestore",
      "credentials": {
        "googleFirebaseCloudFirestoreOAuth2Api": {
          "id": "S1ZLf32j4QesmAN5",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Google Cloud Firestore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "73bb1bce-e561-4b72-b02b-fea137754045",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2d732dbc38cf7921ff0fc622522c0abdbb197ed0a07ff8e0455831663b6d9b8f"
  },
  "id": "jDVdfbVqRXeV7Yz0",
  "tags": []
}